a {
    text-decoration:none;
    color: #b71c1c;
}

ul {
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
}

.spacer {
    flex: auto;
}

.accountButton {
    margin-right: 2em;
}

/* Probably should use scss */
mat-select {
    width: 125px;
    font-size: smaller;
    color: #b71c1c;
}

mat-icon {
    color: #b71c1c !important;
}

.search {
    width:400px;
    text-align: center;
}

mat-tool-bar {
    box-shadow: 10px 10px 15px #aaaaaa;
}

.title {
    color: #b71c1c;
}