<mat-toolbar>
        <a routerLink="">
                <span class="title">Judgement MMA</span>
        </a>
        <span class="spacer"></span>
        <mat-select placeholder="Match Filter" [(ngModel)]="searchMode">
                <mat-option *ngFor="let option of filterOptions" [value]="option">
                        {{option}}
                </mat-option>
        </mat-select>
        <mat-form-field class="search">
                <input #searchInput matInput type="text" list="searchList" [(ngModel)]="currentSearch">
                <button mat-button (click)="addFilter()">
                        <mat-icon>add</mat-icon>
                </button>
                <!-- <button mat-button>
                        <mat-icon>search</mat-icon>
                </button> -->
                <datalist id="searchList" *ngIf="searchResults">
                        <option *ngFor="let searchResult of searchResults" [id]="searchResult.searchId" [value] = "searchResult.searchItem"></option>
                </datalist>        
        </mat-form-field>
        <span class="spacer"></span>
        <ul>
                <a mat-button routerLink="/signin" routerLinkActive="mat-accent"
                        *ngIf="(isNotAuth$ | async)">Sign-In</a>
                <a mat-button routerLink="/register" routerLinkActive="mat-accent"
                        *ngIf="(isNotAuth$ | async)">Register</a>
                <div *ngIf="(judge$ | async) as judge">
                        <button mat-button [matMenuTriggerFor]="menu" *ngIf="(isAuth$ | async)" class="accountButton">
                                <mat-icon>expand_more</mat-icon>{{judge.email}}
                        </button>
                </div>
                <mat-menu #menu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="openHistory()">
                                <mat-icon>history</mat-icon>Judge History
                        </button>
                        <button mat-menu-item (click)="openPreferenceDialog()">
                                <mat-icon>settings</mat-icon>Preferences
                        </button>
                        <button mat-menu-item (click)="signout()" *ngIf="(isAuth$ | async)">
                                <mat-icon>settings_power</mat-icon>Sign-Out
                        </button>
                </mat-menu>

        </ul>

</mat-toolbar>