mat-panel-title{
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
}

img {
  object-fit: cover;
  height: 15.625em;
  width: 15.625em;
  margin: 0.625em;
  box-shadow: 10px 10px 15px #aaaaaa;
  border-radius: 15%;
}

.fighterImageContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

mat-action-row {
  justify-content: center;
  align-items:center;
}

.tabBodyContainer {
  margin:.625em;
}

.titleMatch {
  background-image: linear-gradient(to left, #8f6B29, #FDE08D, #DF9F28); 
  background-color: yellow; /* For browsers that do not support gradients */
  
}
