mat-card-header {
    justify-content: center;
}

mat-card-subtitle {
    text-align: center;
}

mat-card-content {
    display: flex;
    justify-content: space-around;
}

.timerContainer{
    display: flex;
    flex-direction: column;
}

.fighterCard{
    width:25%;
}

.timer {
    text-align: center;
    text-shadow: #000 0px 0px 3px;
}

.roundsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.round {
    width: 1em;
    line-height: 1em;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    border: .05em solid #666;
}

img {
    object-fit: cover;
    height: 15em;
    width: 15em;
    margin: 0.625em;
    box-shadow: 10px 10px 15px #aaaaaa;
    border-radius: 15%;
  }