<mat-card *ngIf="currentMatch != null">
    <mat-card-header>
        <mat-card-title *ngIf="currentMatch != null">{{currentMatch.fighters[0].lastName}} VS {{currentMatch.fighters[1].lastName}}</mat-card-title>
        <mat-card-subtitle *ngIf="currentMatch != null">{{currentMatch.eventName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card class="fighterCard">
            <mat-card-header>{{currentMatch.fighters[0].firstName+ " " +currentMatch.fighters[0].lastName}}</mat-card-header>
            <mat-card-content>
                <div>
                    <img src="https://amp.businessinsider.com/images/5b0533fd1ae66272008b4f90-750-375.jpg" alt="">
                </div>
            </mat-card-content>
        </mat-card>
        <div class="timerContainer" >
            <div class="timerControl">
                <button mat-button><mat-icon>skip_previous</mat-icon></button>
                <button mat-button (click)="startTimer()"><mat-icon>play_circle_outline</mat-icon></button>
                <button mat-button (click)="stopTimer()"><mat-icon>pause_circle_outline</mat-icon></button>
                <button mat-button><mat-icon>skip_next</mat-icon></button>
            </div>
            <div class="timer">
              <h1>{{minutes}}:{{seconds}}</h1>
            </div>
            <div class="roundsContainer">
                <div *ngFor = "let round of rounds" class="round">
                        {{round}}
                </div>
            </div>
        </div>
        <mat-card class="fighterCard">
            <mat-card-header>{{currentMatch.fighters[0].firstName + " " +currentMatch.fighters[0].lastName}}</mat-card-header>
            <mat-card-content>
                <div>
                    <img src="https://www.aljazeera.com/mritems/Images/2019/9/8/1cbece168fa24aefb2b37a739e83e59f_18.jpg" alt="">
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>