mat-card-header {
    justify-content: center;
}

mat-card-subtitle {
    text-align: center;
}

mat-card-content {
    display: flex;
    justify-content: space-around;
}

.timerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fighterCard{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.timer {
    text-align: center;
    text-shadow: #000 0px 0px 1px;
    background: black;
    border-radius:20px;
    width: 50%;
    text-align: center;
}

.roundsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.round {
    width: 1em;
    line-height: 1em;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    margin: .25em;
    border: .05em solid #666;
}

img {
    object-fit: cover;
    height: 15em;
    width: 15em;
    margin: 0.625em;
    box-shadow: 10px 10px 15px #aaaaaa;
    border-radius: 15%;
  }

.currentRound {
    color: lightblue;
    background-color: black;
}

.statContainer{
    display: flex;
    /* align-items: center; */
}

.incrementContainer{
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.spacer{
    flex-grow: 2;
}

.statContainer mat-form-field {
    width: 12.5%;
}