mat-card-header {
    justify-content: center;
}

mat-card-subtitle {
    text-align: center;
}

mat-card-content {
    display: flex;
    justify-content: space-around;
}

.timerContainer{
    display: flex;
    flex-direction: column;
}

.fighterCard{
    width:25%;
}

.timer {
    text-align: center;
}
img {
    object-fit: cover;
    height: 15em;
    width: 15em;
    margin: 0.625em;
    box-shadow: 10px 10px 15px #aaaaaa;
    border-radius: 15%;
  }