@font-face {
    font-family:'digital-clock-font';
    src: url(digital-7.regular.ttf);
  }

.scoreCard {
    border-radius: 25px;
    /* background-image: linear-gradient(to right, #ffd9d9, #ddf2ff); */
}

mat-card-header {
    justify-content: center;
}

mat-panel-title {
    justify-content: center;
    align-items: center;
}

mat-card-subtitle {
    text-align: center;
}

mat-card-content {
    display: flex;
    justify-content: space-around;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

.timerSliderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:25em;
}

.timerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:20em;
}

.fighterCard{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.timer {
    text-align: center;
    text-shadow: #000 0px 0px 1px;
    background: black;
    font-size: large;
    /* border-radius:20px; */
    width: 50%;
    text-align: center;
    font-family:'digital-clock-font'
}

.roundsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.round {
    text-align: center;
    display:table-cell;
    color:grey;
    font-size: 2.5em;
    margin:.5em;
    transition: font-size .5s, color .5s;
}


img {
    object-fit: contain;
    height: 15em;
    width: 15em;
    margin: 0.625em;
    box-shadow: 10px 10px 15px #aaaaaa;
    border-radius: 15%;
  }

.currentRound {
    text-decoration: underline;
    text-decoration-color: lightblue;
    font-size: 3em;
    color:black;
}

.statContainer{
    display: flex;
    /* align-items: center; */
}

.incrementContainer{
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.spacer{
    flex:auto;
}

.slidercontainer {
    width: 80%;
    text-align: center;
}

.sliderValueContainer{
    display: flex;
    justify-content: space-around;
}

.slider{
    width: 100%;
    -webkit-appearance: none;
    border-radius: 10px;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-image: linear-gradient(to right, red, blue);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(255, 255, 255);
    cursor: pointer;
  }

  .slider:hover {
    opacity: .7;
  }
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, blue, red);
    cursor: pointer;
  }

.statContainer mat-form-field {
    width: 15%;
}

.sliderValueContainer span{
    font-weight: bold;
}

.breakMessage {
    font-weight: bold;
    color: red;
}

.redFighter{
    color:rgb(179, 1, 1);
    background-image:linear-gradient(to bottom right, #ffd9d9, #ffffff);
  }

.blueFighter{
    color:rgb(0, 100, 167);
    background-image:linear-gradient(to bottom left, #ddf2ff, #ffffff);
}

.redFighter, .blueFighter {
    /* background-color: #f3f3f3; */
    border-radius: 25px;
    box-shadow: 10px 10px 25px #818181;
    
}