<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onChangedTab($event)">
    <mat-tab [label]="organization" *ngFor="let organization of organizations">
        <div class="tabBodyContainer">
            <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let match of matches" [ngClass]="{'titleMatch': match.isTitleFight}">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{match.eventName}} {{match.fighters[0].lastName}} VS {{match.fighters[1].lastName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="fighterImageContainer">
                        <img [src]="tempFighter1Img" [alt]="match.fighters[0].lastName">
                        <mat-list >
                            <mat-list-item >
                            {{match.fighters[0].record.wins}}-{{match.fighters[0].record.losses}}-{{match.fighters[0].record.disqualifications}} Record {{match.fighters[1].record.wins}}-{{match.fighters[1].record.losses}}-{{match.fighters[1].record.disqualifications}}
                            </mat-list-item>
                            <mat-list-item >
                                {{match.weightClass}} Weight {{match.weightClass}}
                            </mat-list-item>
                            <mat-list-item>other stats...</mat-list-item>
                        </mat-list>
                        <img [src]="tempFighter2Img" [alt]="match.fighters[1].lastName">
                    </div>


                    <mat-action-row>
                        <button mat-raised-button color="primary">Judge</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
</mat-tab-group>
<mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = onChangedPage($event)">
</mat-paginator>