<mat-card *ngIf="currentScoreCard != null && initialPreferenceFetch">
    <mat-card-header>
        <!-- <mat-card-title>{{currentRedFighterInfo.lastName}} VS {{currentBlueFighterInfo.lastName}}
        </mat-card-title> -->
        <mat-card-subtitle>{{currentScoreCard.eventName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card>
            <mat-card-header>{{currentRedFighterInfo.fighterName}}</mat-card-header>
            <mat-card-content class="fighterCard">
                <div>
                    <img [src]="currentRedFighterInfo.imagePath" alt="">
                </div>
                <div>
                    <div *ngFor="let stat of currentRedFighterStats">
                        <div class="statContainer" *ngIf="!stat.isShared">
                            <button mat-button (click)="updateStat(stat)">{{stat.name}}</button>
                            <span class="spacer"></span>
                            <mat-form-field>
                                <input matInput [min]="stat.min" [max]="stat.max" class="mat-input"
                                    type="number" [(ngModel)]="stat.value" (focusout)="correctStat(stat)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="timerSliderContainer">
            <div class="timerContainer">
                <div class="timerControl">
                    <button mat-button (click)="previousRound(true)">
                        <mat-icon>skip_previous</mat-icon>
                    </button>
                    <button mat-button (click)="startTimer()" *ngIf="!clockIsActive">
                        <mat-icon>play_circle_outline</mat-icon>
                    </button>
                    <button mat-button (click)="stopTimer()" *ngIf="clockIsActive">
                        <mat-icon>pause_circle_outline</mat-icon>
                    </button>
                    <button mat-button (click)="nextRound(true)">
                        <mat-icon>skip_next</mat-icon>
                    </button>
                </div>
                <div [ngStyle]="{'color':currentTimerColor}" class="timer">
                    <h1>{{minutes}}:{{seconds}}</h1>
                    <span *ngIf="breakStarted" class="breakMessage">BREAK</span>
                </div>
                <span></span>
                <div class="roundsContainer">
                    <div *ngFor="let round of rounds" class="round" [ngClass]="{'currentRound':round == currentRound}">
                        {{round}}
                    </div>
                </div>
            </div>
            <div class="spacer">

            </div>
            <!-- Use fighter1stats to display shared sliders but update fighter 2 stats as it gets updated-->
            <div class="slidercontainer" *ngFor="let stat of currentRedFighterStats">
                <div *ngIf="stat.isShared">
                    <div class="sliderValueContainer">
                        <div>{{stat.value}}%</div>
                        <span>{{stat.name}}</span>
                        <div>{{100 - stat.value}}%</div>
                    </div>
                    <input type="range" min="0" max="100" [(ngModel)]="stat.value" class="slider"
                        (change)="updateBlueFighterStat(stat.name)">
                </div>
            </div>
        </div>

        <mat-card>
            <mat-card-header>{{currentBlueFighterInfo.fighterName}}</mat-card-header>
            <mat-card-content class="fighterCard">
                <div>
                    <img [src]="currentBlueFighterInfo.imagePath" alt="">
                </div>

                <div>
                    <div *ngFor="let stat of currentBlueFighterStats">
                        <div class="statContainer" *ngIf="!stat.isShared">
                            <button mat-button (click)="updateStat(stat)">{{stat.name}}</button>
                            <span class="spacer"></span>

                        <!-- TODO: Add error message or some sort of indication when they enter an invalid value -->
                            <mat-form-field>
                                <input matInput [min]="stat.min" [max]="stat.max" class="mat-input"
                                    type="number" [(ngModel)]="stat.value" (focusout)="correctStat(stat)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="submitScoreCard()" color="primary">Submit Scorecard</button>
    </mat-card-actions>
</mat-card>