<div>
    <h1>Preferences</h1>
    <div class="statContainer" *ngIf="(preferences$ | async) as preferenceStats">
        <div class="statItemContainer" *ngFor="let stat of preferenceStats">
            <span>{{stat.name}}</span>
            <span class="spacer"></span>
            <mat-form-field *ngIf="!stat.isShared">
                <input #min matInput type="number" [value]="stat.min" placeholder="Min" (focusout)="updateStat(min,'min',stat)" autocomplete="off">
            </mat-form-field>
            <mat-form-field *ngIf="!stat.isShared">
                <input #initial matInput type="number" [value]="stat.value" placeholder="Initial"  (focusout)="updateStat(initial,'value',stat)" autocomplete="off">
            </mat-form-field>
            <mat-form-field *ngIf="!stat.isShared">
                <input #max matInput type="number" [value]="stat.max" placeholder="Max" (focusout)="updateStat(max,'max',stat)" autocomplete="off">
            </mat-form-field>
            <mat-slide-toggle [ngModel]="stat.isShared" (change)="resetSharedStat(stat)">
                Slider
            </mat-slide-toggle>
            <button mat-button (click)=removeStat(stat)>
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div class="newItemContainer" *ngIf="newStat != null">
            <mat-form-field class="newItem">
                <input matInput type="text" placeholder="Name" [(ngModel)]="newStat.name">
            </mat-form-field>
            <span class="spacer"></span>
            <mat-form-field *ngIf="!newStat.isShared">
                <input matInput type="number" [(ngModel)]="newStat.min" placeholder="Min" autocomplete="off" (focusout)="correctStat(newStat)">
            </mat-form-field>
            <mat-form-field *ngIf="!newStat.isShared">
                <input matInput type="number" [(ngModel)]="newStat.value" placeholder="Initial" autocomplete="off" (focusout)="correctStat(newStat)">
            </mat-form-field>
            <mat-form-field *ngIf="!newStat.isShared">
                <input matInput type="number" [(ngModel)]="newStat.max" placeholder="Max" autocomplete="off" (focusout)="correctStat(newStat)">
            </mat-form-field>
            <mat-slide-toggle [ngModel]="newStat.isShared" >
                Slider
            </mat-slide-toggle>
            <button mat-button (click)="addStat()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="buttonContainer">
            <button mat-button class="saveButton" (click)="closeDialog()">
                <mat-icon>close</mat-icon> Close Dialog
            </button>
        </div>

    </div>
</div>