.statContainer {
    display: flex;
    flex-direction: column;
}

.statItemContainer {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.newItemContainer {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newItem {
    width:20%;
}

mat-form-field {
    width: 7%;
    margin-right: 10px;
}

.spacer {
    flex: auto;
}

button {
    width: fit-content;
}