<mat-tab-group mat-align-tabs="center" (selectedTabChange)="onChangedTab($event)">
    <mat-tab [label]="organization" *ngFor="let organization of organizations">
        <div class="tabBodyContainer" *ngIf="(matches$ | async) as matches">
            <div *ngIf="matches.length <= 0">
                <h1>{{organizations[currentOrgIndex]}} coming soon!</h1>
            </div>
            <mat-accordion multi="true" >
                <mat-expansion-panel *ngFor="let match of matches" [ngClass]="{'titleMatch': match.isTitleFight}" [disabled]="!(matchesAreLoaded$ | async)">
                    <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="event">
                                    {{match.eventName}} ({{match.weightClass}} lbs)
                                </div>
                                <div>
                                    
                                </div>
                                <div class="match">
                                {{match.fighters[0].lastName}} VS {{match.fighters[1].lastName}}
                                </div>
                            </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="fighterContainer">
                        
                        <div class="fighterInfo">
                            <img [src]="match.fighters[0].imagePath" [alt]="match.fighters[0].lastName">
                            <div class="fighterDescription">
                                {{organization}} Record {{match.fighters[0].record.wins}}-{{match.fighters[0].record.losses}}-{{match.fighters[0].record.draws}}
                            </div>
                        </div>
                        <!--
                        <mat-list >
                            <mat-list-item >
                            {{match.fighters[0].record.wins}}-{{match.fighters[0].record.losses}}-{{match.fighters[0].record.disqualifications}} Record {{match.fighters[1].record.wins}}-{{match.fighters[1].record.losses}}-{{match.fighters[1].record.disqualifications}}
                            </mat-list-item>
                            <mat-list-item >
                                {{match.weightClass}} Weight {{match.weightClass}}
                            </mat-list-item>
                            <mat-list-item>other stats...</mat-list-item>
                        </mat-list>
                    -->
                        <div class="fighterInfo">
                            <img [src]="match.fighters[1].imagePath" [alt]="match.fighters[1].lastName">
                            <div class="fighterDescription">
                                {{organization}} Record {{match.fighters[1].record.wins}}-{{match.fighters[1].record.losses}}-{{match.fighters[1].record.draws}}
                            </div>
                        </div>
                    </div>


                    <mat-action-row>
                        <!-- if someone is authorized then go to the judge page else go to the signin page-->
                        <div *ngIf="(isAuth$ | async)">
                            <a mat-button color="primary" [routerLink]="['/judge',match.id]">Judge Match</a>
                        </div>
                        <div *ngIf="(isNotAuth$ | async)">
                            <a mat-button color="primary" [routerLink]="'/signin'">Please Sign-in to Judge!</a>
                        </div>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
</mat-tab-group>
<app-matchfilter isScoreCard="true">
</app-matchfilter>  