.historyContainer {
    display: flex;
    flex-direction: column;
}

.scoreCardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
}

/* tr :nth-child(2) {
    font-weight: bold;
} */

th {
    margin-right: 10px;
}
mat-card-header {
    justify-content: center;
    align-items: center;
}

mat-card-subtitle {
    text-align: center;
}

mat-card-content{
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

mat-card {
    margin-bottom: 10px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }