<div class="historyContainer">
    <mat-card *ngFor="let scoreCard of judgeHistory">
        <mat-card-header>
            <mat-card-title>
                {{ scoreCard.match.fighters[0].firstName + scoreCard.match.fighters[0].lastName}} vs {{scoreCard.match.fighters[1].firstName}} {{scoreCard.match.fighters[1].lastName}}
            </mat-card-title>
            <mat-card-subtitle>
                {{ scoreCard.match.eventName}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="getTableDataSource(scoreCard,1)" class="mat-elevation-z2">
                <!-- TODO: Research ng-container -->
                <ng-container [matColumnDef]="column" *ngFor="let column of getTableColumnsToDisplay(scoreCard,1)">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="getTableColumnsToDisplay(scoreCard,1)"></tr>
                <tr mat-row *matRowDef="let row; columns: getTableColumnsToDisplay(scoreCard,1);"></tr>
            </table>
            <table mat-table [dataSource]="getTableDataSource(scoreCard,2)" class="mat-elevation-z2">
                <!-- TODO: Research ng-container -->
                <ng-container [matColumnDef]="column" *ngFor="let column of getTableColumnsToDisplay(scoreCard,2)">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="getTableColumnsToDisplay(scoreCard,2)"></tr>
                <tr mat-row *matRowDef="let row; columns: getTableColumnsToDisplay(scoreCard,2);"></tr>
            </table>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button color="primary" [routerLink]="['/judge',scoreCard.match._id]">Judge Again</a>
            <a mat-button color="primary">More Info</a>
        </mat-card-actions>
    </mat-card>
    <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = onChangedPage($event)">
    </mat-paginator>
</div>